@{
    ViewBag.Name = "Home";
}

<br />
<div class="page-header" style="color: steelblue">
    <h2>Building End-to-End Multi-Client Service Oriented Applications</h2>
</div>
<div class="alert alert-info">
    <div class="alert-heading" style="font-size: 24px;">
        <p>
            Welcome
        </p>
    </div>
    <div style="font-family: 'Segoe UI'; font-size: 18px;">
        <p>
           test
        </p>
        <p>
          test
        </p>
        <p>
          test
        </p>
    </div>
</div>
