<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <system.serviceModel>
    <client>
        <endpoint address="net.tcp://localhost:8009/InventoryService"
                  binding="netTcpBinding"
                  contract="CarRental.Client.Contracts.IInventoryService"
                  />
        <endpoint address="net.tcp://localhost:8009/RentalService"
                  binding="netTcpBinding"
                  contract="CarRental.Client.Contracts.IRentalService"
                  />
        <endpoint address="net.tcp://localhost:8009/AccountService"
                  binding="netTcpBinding"
                  contract="CarRental.Client.Contracts.IAccountService"
                  />
    </client>
    <bindings>
      <netTcpBinding>
        <binding maxReceivedMessageSize="2000000" transactionFlow="true">
          <reliableSession enabled="true" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

</configuration>
